asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.2
dj-rest-auth==7.2.0
Django==6.1.1
django-allauth==65.19.6
djangorestframework==3.18.1
drf-yasg==1.21.15
idna==3.20
inflection==0.5.1
packaging==26.3
pytz==2026.4
PyYAML==6.0.3
requests==2.34.2
sqlparse==0.6.0
uritemplate==4.2.0
urllib3==2.8.0
whitenoise==6.12.0
